numpy>=1.20
click>=8.0
pillow
scipy
torch==1.9.1
requests
tqdm
ninja
matplotlib
imageio
imgui
glfw
pyopengl
imageio-ffmpeg
pyspng
pyyaml
Pillow
ftfy
regex
nltk
lpips
streamlit

# cudatoolkit==11.1
# python_version>=3.8.0
# pytorch-pretrained-biggan
